<!DOCTYPE html>
<head></head>
<body>
    <div>
        <main>
            <h1>First view</h1>
            <p>Hello world</p>
            <p>
                <a href="https://medium.com/swlh/master-ejs-template-engine-with-node-js-and-expressjs-979cc22b69be">Read More At Medium</a>
            </p>
        </main>
    </div>
</body>
<script>
    window.onload = function() {
        alert('hello');
    };
</script>
</html>